{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}  {% comment %} required for added security {% endcomment %}
            <fieldset class="form-group">
                <legend class="border-bottom mn-4">Join Today</legend>
                {{ form|crispy }} <!-- Adding crispy filter -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
         </form> 
         <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="#"> Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}

