{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}  {% comment %} required for added security {% endcomment %}
            <fieldset class="form-group">
                <legend class="border-bottom mn-4">Create Blog Post</legend>
                {{ form|crispy }} <!-- Adding crispy filter -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit Post</button>
            </div>
         </form> 
    </div>
{% endblock content %}



    {% comment %} 
    TODO:
    Add conditional for the update page to show update or cancel buttons. 
        {% if object.author == update %}
            <button class="btn btn-outline-info" type="submit">Submit Post</button>
        {% elif %}
            <button class="btn btn-outline-info" type="submit">Submit Post</button>
            <button class="btn btn-outline-secondary" >Cancel</button>
        {% endif %} 
    {% endcomment %}